/* BODY */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
font-size: 1.6rem;
line-height: 24px;
margin: 0;

}
button{
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0;
    background: none;
    border-style: solid;
    cursor: pointer;
    width: 157px;
    height: 60px;
}
.section-title{
    text-transform: uppercase;
    font-size: 53px;
    letter-spacing: 1px;
    line-height: 72px;
    color: #333333;
    font-weight: 700;
}
.section-desc{
    color: #888888;
}
/* HEADER */
.header-lp{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/Layer\ 24.png);
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 892px;
    display: grid;
    .logo,
    .header-text{
        color: white;
        margin-left: 340px;
    }
    .briefcase{
        width: 32px;
        height: 30px;
    }
    .logo{
        display: flex;
        margin-top: 4rem;
        font-size: 13px;
    }
    .title{
        margin-bottom: 5rem;
        font-size: 48px;
        line-height: 57px;
        font-weight: 300;
    }
    .desc{
        margin-bottom: 4rem;
        font-size: 17px;
    }
    button{
        text-transform: uppercase;
    }
}
/* SERVICES */
.services-lp{
    width: 1920px;
    height: 891px;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    place-content: center;
    h1,
    p{
        margin-left: 340px;
    }
    .section-desc{
        margin-top: 5rem;
        width: 435px;
        height: 39px;
        font-size: 18px;
        line-height: 26px;
    }
}
/* WORKS */
.works-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    height:15rem;
    margin-left: 340px;
    margin-right: 340px;
    h1{
        margin: 0;
    }
}
.email-form{
    margin-left: 340px;
    .text-email{
        width: 40rem;
    }
    label{
        color: #28282e;
    }
}
.form-button{
    color: #28282e;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 2rem;
    background: none;
    border: #28282e solid 2px;
    cursor: pointer;
    width: 15rem;
    height: 5rem;
}
.error-message {
    color: red;
}
/* PROJECT */
.project-lp{
    width: 1920px;
    height: 891px;
    background-color: #28282e;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    .project-text{
        margin-left: 340px;
    }
    button{
        text-transform: uppercase;
    }
.section-title{
font-size: 53px;
letter-spacing: 1px;
line-height: 72px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
    color: white;
    text-transform: capitalize; 
}
.section-desc{
width: 418px;
height: 99px;
font-size: 18px;
line-height: 26px;
color: #ffffff;
font-family: "Proxima Nova"; 
}

.icon{
    margin-top: 2rem;
    margin-right: 32rem;
    display: flex;
    flex-direction: row;
    place-content: center;
}
.icons{
    width: 4rem;
    margin-right: 2rem;
    filter: invert();
}
}
/* ARTICLE */
.article-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-left: 340px;
    margin-right: 340px;
}
.table{
    width: 65%;
    height: 100%;
    margin-left: 340px;
}
.img-table{
    background-image: url(/img/Layer\ 4.png);
}
.article-link{
    text-decoration: none;
    color:#ef4035;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
/* WHO ARE WE */
.us-lp{
    width: 1920px;
    height: 891px;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    place-content: center;
    h1, h2,
    p{
        margin-left: 340px;
    }
    h2{
        color: #ef4035;
    }
    .section-desc{
        margin-top: 5rem;
        width: 435px;
        height: 39px;
        font-size: 18px;
        line-height: 26px;
    }
}
/* SLOW LIFE */
.slowlife-lp{
    width: 1920px;
    height: 891px;
    background-color: #28282e;
    display: flex;
    flex-direction: column;
    place-content: center;
    h1{
        margin: 0;
    }
    .section-title{
        margin-bottom: 10rem;
        text-align: center;
        text-transform: capitalize;
        font-size: 53px;
        letter-spacing: 1px;
        line-height: 72px;
        color: #ffffff;
            color: white;
            text-transform: capitalize; 
        }
        .section-desc{
            margin: 0 auto;
            width: 660px;
            height: 117px;
            text-align: center;
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        }
}
.carousel-inner {
    width: 50%;
    margin: auto;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}
.footer-button{
    background-color: #ef4035;
    border: #ef4035;
    width: 100%;
}
/* FOOTER */
footer{
    height: 140px;
    background-color: #28282e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #888888;
    p{
        margin-left: 14rem;
        margin-right: 14rem;
    }
}